name: Build & Push API Image

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Container image
        run: |
          docker build \
            -t ghcr.io/al-gorceries-2/al-gorceries-2-api:${{ github.sha }} \
            -t ghcr.io/al-gorceries-2/al-gorceries-2-api:latest \
            .

      - name: Push Container image
        run: |
          docker push ghcr.io/al-gorceries-2/al-gorceries-2-api:${{ github.sha }}
          docker push ghcr.io/al-gorceries-2/al-gorceries-2-api:latest

