name: Build and Push Container Image, Deploy to Kubernetes

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Container image
        run: |
          docker build \
            -f Containerfile \
            -t ghcr.io/al-gorceries-2/al-gorceries-2-api:${{ github.sha }} \
            -t ghcr.io/al-gorceries-2/al-gorceries-2-api:latest \
            .

      - name: Push Container image
        run: |
          docker push ghcr.io/al-gorceries-2/al-gorceries-2-api:${{ github.sha }}
          docker push ghcr.io/al-gorceries-2/al-gorceries-2-api:latest

      - name: Add Bitnami repo
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo update

      - name: Build Helm dependencies
        run: helm dependency build al-gorceries-2-api-chart

      - name: Set up kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" | base64 --decode > ~/.kube/config
          chmod 600 ~/.kube/config

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Deploy Helm Chart
        run: |
          helm upgrade --install al-gorceries-2-api al-gorceries-2-api-chart \
            --set config.oauth.google.clientId=${{ secrets.GOOGLE_OAUTH_CLIENT_ID }} \
            --set config.oauth.google.clientSecret=${{ secrets.GOOGLE_OAUTH_CLIENT_SECRET }} \
            --set config.ui.url=${{ vars.UI_URL }} \
            --set image.tag=${{ github.sha }} \
            --wait
